<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
        <div class="container ">
            <div class="row mt-5">
                <h1>Home Page</h1>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat reprehenderit eos cupiditate quae minima ab nostrum delectus. Minima, corporis eos!</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>